deb http://repo.zabbix.com/zabbix/{{zabbix_version}}/{{ ansible_distribution |lower }} {{ ansible_distribution_release }} main
deb-src http://repo.zabbix.com/zabbix/{{ zabbix_version}}/{{ ansible_distribution |lower }} {{ ansible_distribution_release }} main
